# fly.toml app configuration file for Bravix
app = "bravix"
primary_region = "lhr"

[build]
  dockerfile = "Dockerfile"  # make sure we use the Dockerfile

[http_service]
  internal_port = 10000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
