fastapi==0.116.1
starlette==0.47.3
uvicorn==0.35.0
openai==2.3.0
pandas==1.5.3
python-docx==1.2.0
pdfminer.six==20250506
python-multipart==0.0.20
langdetect==1.0.9
fpdf2==2.8.4
requests==2.32.4
python-dotenv==1.1.1
